body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: hsla(329, 80%, 90%, 0.863);
    font-family: Georgia;
}
header {
    text-align: center;
}

.hermosa img {
    height: fit-content;
    width: 900px;
    padding: 20px;
    margin: auto;
    z-index: 2;

}
/*.hermosa a {
    text-align: center;
    text-decoration: none;
    border: 2px solid blue;
    font-size: 60px;
    padding: 15px;
    margin: 30 px auto; 
    position: relative;
    bottom: 110px;
    z-index: 0;
}
.hermosa a:hover {
    background-color: rgb(114, 120, 148);
}*/


.love img {
    height: 900px;
    width: 900px;
    padding: 20px;
    margin: auto;
    z-index: 1;
}

.motivational img {
    height: 1000px;
    width: 900px;
    padding: 20px;
    margin: auto;
    z-index: 1;
}

.package {
    font-weight: bold;
    font-size: 30px;
    padding: 60px;
}
a {
    text-decoration: none;
    color: black;
}